body{
    margin: 0;
}

.header{
    background: gray;
    padding: 20px;
    height: auto;
}

.header img{
    width: 100%;
    height: 600px;
}

.header-nav{
    margin: 20px 0;
}

.header-nav a{
    margin: 10px;
}

.header-title{
    margin-top: 0%;
}

.main{
    background: lightgray;
    padding: 20px;
}

.footer{
    background: gray;
    padding: 10px 20px;
}